@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');


body{
    font-family: 'Rubik', sans-serif;
}

header{
    border: 1px solid grey;
    font-family: 'Rubik', sans-serif;
}

header h1{
    margin: 5% 5%;
    text-transform: uppercase;
    color: grey;
}

div#container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

main article{
    border: 1px solid grey;
    border-top: 5px solid #00FFFF;
}

main article h2, p{
    margin-left: 3%;
    max-width: 65%;
}

main article ul li a{
    line-height: 1.5;
    color: #00BCE3;
    font-size: medium;
}

.btn {
    margin-top: 5%;
    border: 1px solid darkgrey;
    text-decoration: none;
    color: rgb(73, 72, 72);
    font-size: x-large;
    background-color: rgb(236, 231, 231);
    border-bottom: 1px solid #00FFFF;
    padding: 2%;
    margin-right: 2%;
  }
  
  .btn.active {
    border: #00FFFF;
    border-bottom: 1px solid #00FFFF;
    background-color: #00FFFF;
    color: white;
  }



